__pycache__/
*.py[cod]
*$py.class
venv/
.env

.ipynb_checkpoints
*/.ipynb_checkpoints/*

data/
logs/

.idea/
.vscode/
*.swp
.DS_Store

spark-warehouse/
metastore_db/
derby.log

conf/trino/delta.properties